/* body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-style: normal;
  line-height: 1.5;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
} */

.app {
  background-color: #f0f1f3;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 600px;
  padding: 15px;
}

.title {
  margin-bottom: 20px;
}

.container {
  display: block;
  background-color: #f0f1f3;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid black;
}