li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.list {
  width: 150px;
  margin-top: 10px;
}

.list_number {
  margin-top: 10px;
  align-items: center;
}

.item {
  margin-top: 10px;
  width: 500px;
}
.button {
  background-color: #f0f321;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  color: #000;
  cursor: pointer;
  height: 40px;
  min-width: 150px;
}
